@import "tailwindcss";

:root{
  --main_font: "Montserrat", sans-serif;
  --primary: #135bec;
  --background: #f6f6f8;
  
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: var(--main_font);
  background-color: var(--background);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622;
  }
}

